Repository DapperLib/Dapper, pull requests merged in 2021-05, with the labels that each got.

#1254 Fix Rainbow Database.Dispose() so that it never throws and not overrides the active exception (if any)
  Dapper.Rainbow/Database.cs
Labels: area:rainbow

#1665 Add DbString.ToString() overload
  Dapper/DbString.cs
  docs/index.md
  tests/Dapper.Tests/MiscTests.cs
Labels: enhancement

#1575 GridReader.ReadAsync normalization: Convert.ChangeType like other paths
  Dapper/SqlMapper.GridReader.Async.cs
  Dapper/SqlMapper.GridReader.cs
  tests/Dapper.Tests/AsyncTests.cs
  tests/Dapper.Tests/QueryMultipleTests.cs
Labels: bug

#1662 Dapper.Contrib: removal (repo split)
  .github/workflows/main.yml
  .gitignore
  Dapper.Contrib/Dapper.Contrib.csproj
  Dapper.Contrib/Readme.md
  Dapper.Contrib/SqlMapperExtensions.Async.cs
  Dapper.Contrib/SqlMapperExtensions.cs
  Dapper.sln
  Readme.md
  benchmarks/Directory.Build.props
  global.json
  tests/Dapper.Tests.Contrib/Dapper.Tests.Contrib.csproj
  tests/Dapper.Tests.Contrib/Helpers/Attributes.cs
  tests/Dapper.Tests.Contrib/TestSuite.Async.cs
  tests/Dapper.Tests.Contrib/TestSuite.cs
  tests/Dapper.Tests.Contrib/TestSuites.cs
  tests/Dapper.Tests.Contrib/xunit.runner.json
  tests/Directory.Build.props
Labels: area:contrib
